Lenguaje de marcas/UD06 - Definicion XML/XSD/ejemplo3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ciudad" type="xs:string"/>
    <xs:element name="fecha_de_nacimiento" type="xs:date"/>
    <xs:element name="hora" type="xs:time"/>
    <xs:element name="nota" type="xs:float"/>
    <xs:element name="apto" type="xs:boolean"/>
</xs:schema>