Lenguaje de marcas/LMSGI/UD6 - DTD y Esquemas XML/XSD/clasV19/ejercicio.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ciudad" type="xs:string"/>
    <xs:element name="fecha-de-nacimiento" type="xs:date"/>
    <xs:element name="hora" type="xs:time"/>
    <xs:element name="nota" type="xs:decimal"/>
    <xs:element name="apto" type="xs:boolean"/>
</xs:schema>